@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.mark,
.about,
.message {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.admin,
.manageAccounts,
.manageMessages,
.lobby {

  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 2rem;

}
