[*.cs]

# SA1633: The file header is missing or not located at the top of the file.
dotnet_diagnostic.SA1633.severity = suggestion

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = suggestion

# SA1200: Using directive should appear within a namespace declaration
dotnet_diagnostic.SA1200.severity = suggestion

# SA0001: XML comment analysis is disabled due to project configuration
dotnet_diagnostic.SA0001.severity = suggestion

# SA1309: Field '_httpContextAccessor' should not begin with an underscore
dotnet_diagnostic.SA1309.severity = suggestion

# SA1124: Do not use regions
dotnet_diagnostic.SA1124.severity = suggestion
