
.basemaps-container {
    position: fixed;
    top: 2.5rem;
    right: 5rem;
    text-align: center;
    z-index: 1000;
    height: auto;
    font-size: 10px;
    font-weight: 1000;
    text-decoration-color: black;
    font-optical-sizing: auto;
    width: auto;
    border-radius: 4px;
    background-color: #dfa532;
    border-color: black;
  }
  .basemaps-container select {
    width: 200px;
    height: 26px;
  }