.container{
    max-width: 1170px;
    margin: auto;
    padding: 0 15 px;
  }
  
  .mtb-3{
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  
  .table{
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0,0, 0.2);
  }
  
  .table th, .table td{
    text-align: center;
    padding: 10px;
  }
  
  .hh{
    position: relative;
    text-align: center;
    margin: 10px;
    width: 100%;
  }
  
  .table tr:nth-child(even){
    background: #f5f5f5;
  }
  
  .table th{
    background-color: #729068;
    color: rgb(255, 255, 255);
  }
  
  .table tr{
    transition: all 3s;
  }
  
  .table tr:hover{
    background-color: #f0a30a;
  }
  
  .table td:not(:last-child){
    border-right: 1px solid #ccc;
  }
  
  .span{
    align-items: center;
    margin-left: 10px;
    background-color: #ffffff;
    position: relative;
    color: #00ff48;
    font-size: 22px;
    margin: 5px;
    padding: 5px;


  }

  .btn-tertiary {
    color: #555;
    padding: 0;
    line-height: 40px;
    width: 300px;
    margin: auto;
    display: block;
    border: 2px solid #555;

  }

  .btn-tertiary :hover,:focus {
    color: lighten(#555, 20%);
    border-color: lighten(#555, 20%);
  }

  
  .input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .js-labelFile {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0 10px;
      cursor: pointer;
  }

  .icon:before {
    content: "\f093";
  }
  

    .icon:before {
      content: "\f00c";
      color: #5AAC7B;
    }

