@{
    ViewData["Title"] = "Login";
}
@model IdentityServer.Models.LoginViewModel

<link rel="stylesheet" href="~/css/custom.css" media="screen" type="text/css" />

<main class="form-signin">

    <div class="row justify-content-center align-items-center" screen_capture_injected="true" style="margin-top: 10%">
        <div class="col-mb-3">

            <h1 class="h3 mb-3 fw-normal align-items-center text-center">Login</h1>

            <form asp-action="Login" asp-controller="Authorization">

                <div class="form-group">
                    <div class="form-group">

                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control" placeholder="Email"/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="form-label">Password</label>
                        <input asp-for="Password" class="form-control" placeholder="Password"/>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RememberMe"></label><br/>
                        <input asp-for="RememberMe" />
                    </div>
                    <div class="form-group">
                        <button class="w-100 btn btn-md btn-success" style="background-color: #88A87D" type="submit">Login</button>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Not registered yet?</label>
                        <a asp-action="Register" asp-controller="Authorization" class="w-100 btn btn-md btn-success" tabindex="-1" role="button"
                           style="background-color: #88A87D; color: #FAAA0A" type="button">Register</a>
                    </div>

                </div>

            </form>

        </div>
    </div>

</main>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>