@{
    ViewData["Title"] = "Login";
}
@model LoginViewModel

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="vh-100">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Login</h2>

                            <form asp-action="Login" asp-controller="Authorization" method="post">

                                <div asp-validation-summary="All" class="text-danger"></div>

                                <input type="hidden" asp-for="ReturnUrl"/>
                                <input type="hidden" asp-for="ExternalProviders"/>
                                <div class="form-outline mb-4">
                                    <div class="form-group">
                                        <label asp-for="Email" class="col-form-label"></label>
                                        <input asp-for="Email" type="email" class="form-control" placeholder="Email"/>
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <label asp-for="Password" class="form-label">Password</label>
                                        <input asp-for="Password" type="password" id="password" class="form-control" placeholder="Password"/>
                                        <span class="fa fa-eye" aria-hidden="true" style="float: right; position: relative; top: -46px;" id="#eye" onclick="toggle('password')"></span>
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class="form-group mb-4">
                                        <input asp-for="RememberMe"/>
                                        <label asp-for="RememberMe"></label>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <button class="w-100 btn btn-lg btn-success" style="background-color: #88A87D;" type="submit">Login</button>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Not registered yet?</label>
                                        <a asp-action="Register" asp-controller="Authorization" asp-route-returnUrl="@Model.ReturnUrl" class="w-100 btn btn-lg btn-success" tabindex="-1" role="button"
                                           style="background-color: #88A87D; color: #FAAA0A;">
                                            Register
                                        </a>
                                    </div>
                                </div>

                            </form>

                            <div class="row d-flex justify-content-center align-items-center h-100">
                                <form asp-controller="Authorization" asp-action="ExternalLogin"
                                      asp-route-returnUrl="@Model.ReturnUrl" method="post">

                                    <div class="container">
                                        <div class="row">

                                            @foreach (var provider in Model.ExternalProviders)
                                            {
                                                <button href="#" type="submit" style="border-radius: 50px;" value="@provider.Name" name="provider" class="fa fa-@provider.Name.ToLower()"></button>
                                            }

                                        </div>
                                    </div>

                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

<script>
    var state = false;

    function toggle(name) {
        if (state) {
            document.getElementById(name).setAttribute("type", name);
            state = false;
        }
        else {
            document.getElementById(name).setAttribute("type", "text");
            state = true;
        }
    }
</script>