@model RegisterViewModel
@{
    ViewData["Title"] = "Registration";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="vh-100">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Registration</h2>
                            <form asp-action="Register" asp-controller="Authorization" method="post">

                                <div asp-validation-summary="All" class="text-danger"></div>

                                <input type="hidden" asp-for="ReturnUrl"/>
                                <div class="form-outline mb-4">
                                    <label asp-for="UserName" class="form-label">Login</label>
                                    <input asp-for="UserName" class="form-control  form-control-lg" placeholder="Login"/>
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                </div>

                                <div class="form-outline mb-4">
                                    <label asp-for="Email" class="form-label"></label>
                                    <input asp-for="Email" type="email" class="form-control  form-control-lg" placeholder="Email"/>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>

                                <div class="form-outline mb-4">
                                    <label asp-for="Password" class="form-label">Password</label>
                                    <input asp-for="Password" type="password" id="password" class="form-control  form-control-lg" placeholder="Password"/>
                                    <span class="fa fa-eye" aria-hidden="true" style="float: right; position: relative; top: -54px;" id="#eye1" onclick="toggle('password')"></span>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>

                                <div class="form-outline mb-4">
                                    <label asp-for="ConfirmPassword" class="form-label"></label>
                                    <input asp-for="ConfirmPassword" type="password" id="confirmPassword" class="form-control  form-control-lg" placeholder="Confirm password"/>
                                    <span class="fa fa-eye" aria-hidden="true" style="float: right; position: relative; top: -54px;" id="#eye2" onclick="toggleConfirm('confirmPassword')"></span>
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>

                                <div class="form-outline mb-4">
                                    <label asp-for="BirthDay" class="form-label"></label>
                                    <input asp-for="BirthDay" type="date" class="form-control  form-control-lg" value="@DateTime.Now.ToShortDateString()"/>
                                    <span asp-validation-for="BirthDay" class="text-danger"></span>
                                </div>

                                <div class="form-outline mb-5">
                                    <input type="checkbox" asp-for="AgreeAllStatements"/>
                                    <label class="form-check-label">
                                        I agree all statements in
                                        <a href="#!" class="text-body">
                                            <u>Terms of service</u>
                                        </a>
                                    </label>
                                </div>

                                <div class="form-outline mb-4">
                                    <button class="w-100 btn btn-lg btn-success" style="background-color: #88A87D; color: #FAAA0A; font-weight: 600" type="submit">Register</button>
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label">Have already an account? Login: </label>
                                    <a asp-action="Login" asp-controller="Authorization" asp-route-returnUrl="@Model.ReturnUrl" class="w-100 btn btn-lg btn-success" tabindex="-1" role="button" aria-disabled="true"
                                       style="background-color: #88A87D; font-weight: 600;">
                                        Login
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

<script>
    var state = false;

    function toggle(name) {
        if (state) {
            document.getElementById(name).setAttribute("type", name);
            state = false;
        }
        else {
            document.getElementById(name).setAttribute("type", "text");
            state = true;
        }
    }

</script>

<script>
    var stateConfirm = false;

    function toggleConfirm(name) {
        if (stateConfirm) {
            document.getElementById(name).setAttribute("type", "password");
            stateConfirm = false;
        }
        else {
            document.getElementById(name).setAttribute("type", "text");
            stateConfirm = true;
        }
    }
</script>